/* || RESET */
*, *::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
    width: 100%;
    height: auto;
}
input,button,text-area{
    font: inherit;
}

/* || VARIABLES */
:root{

    /* FONTS */
    --FF:sans-serif;
    --FS: 12px;
    --FONT-SIZE:13px;

    /* COLORS */
    --BGCOLOR:#f7f7f7;
    --BODYCOLOR:rgb(255, 255, 255);
    --GRAYCOLOR:rgb(105, 103, 103);
    --WHITEFONT:white;
    --BLACKFONT:black;
    --ORANGEBGCOLOR:#f97c28;


    /*STANDARD PADDING */
    --PADDING-SIZE:1PX;
    --PADDING-TB:0.25em;
    --PADDING-SIDE:0.75%;
    
    /* STANDARD MARGIN */
    --MARGIN:clamp(1em, 2.5vh,1.5em, )0;

    /* BORDER */
    --BORDER: 1px, solid, #80808057;
    --BORDER-SHADOW:0, 0, 10px, 1px;
}
/* || GENERAL STYLES */
 html{
    font-size: var(--FS);
    font-family: var(--FF);

 }
 
 /* || HEADER */
 .header__firstrow{
    display: flex;
    justify-content: space-between;
    padding: var(--PADDING-SIDE) ;
    box-shadow: var(--BORDER-SHADOW);
    background-color: var(--BGCOLOR);
    font-size: var(--FS);
    color: var(--FONTCOLOR);
    
 }
 .header__ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 360px;

}

.header__ul1{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 440px;
}
.header__span{
    color: orange;
}

.header__secondrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.header__secondrow__figure1{
    display: none;
}
.header__secondrow__figure2{
    padding: 8px 0px 0px 8px;
}
.paniate-logo{
    width:185px ;
    height:52px ;
}
.header__search{
    width: 51%;
    height: 42px;
   margin:10px 0px 0px 0px;
   padding-left: 12px;
}
.fa.fa-pencil, .fa.fa-external-link{
    border: none;
    font-size: 14px;
}
.fa.fa-heart{
    border: none;
    font-size: 18px;
}

.header__ul2{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size:16px;
    width: 265px;
    align-items: center;
}
.right-section{
    background-color: var(--ORANGEBGCOLOR);
    padding: 9px 9px;
    
}
.right-section a{
    color: var(--WHITEFONT);
    text-decoration: none; 
    align-items: center;  
}
.fa.fa-shopping-bag{
    font-size: 19px;
    border: none;
    align-items: center;
}

.nav__ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    width: 80%;
    margin: 6px 0px 7px 0px;
    color:var(--BLACKFONT);
    font-size: var(--FONT-SIZE);
    
}
.nav__ul a{
    color:var(--BLACKFONT);

    text-decoration: none;
}
.piscine{
    position: relative;
}
.piscine__dropdown{
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    position: absolute;
    transition: all .3s ease-in-out;
    top: 22px;
    left: -70px;
    list-style:none ;

    z-index: -500000;
    
}
.piscine__dropdown a{
    padding: 15px;
    border-bottom: 1px solid #8080803b;
    color: #808080f0;
    font-size: 15px;
    display: block;
    transition: 0.3s;
    background-color: white;
    
}
li.dropdown{
    position: relative;
}

li.dropdown:hover .piscine__dropdown{
    display: block;
    opacity: 1;
    z-index: 1000000;
    
}
.piscine__dropdown:hover{
    opacity: 1;
}

.piscine__dropdown a:hover{
   background-color: #1a6187;
   color: white;
   opacity: 1;
   visibility: visible;

}

.piscine__dropdown li:hover .spa__dropdown{
    opacity: 1;
}


.fa.fa-long-arrow-right{
    text-align: right;
    color:#8080807a ;
    float: right;
}
.spa{
    position: relative;
}
.spa__dropdown{
    position: absolute;
    width: 164px;
    line-height: 16px;
    top: 0%;
    left: 99%;
    list-style: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    opacity: 0;
}
.spa:hover{
    opacity: 1;
    display: block;
}
.spa__dropdown:hover{
    opacity: 1;
}
.spa__dropdown a:hover{
    background-color: #1a6187;
    color: white;
    opacity: 1;
    visibility: visible;
 
 }
 
/* || MAIN */
main{
    padding: 15px;
    border-top:1px solid #80808057;
    background-color:rgba(250, 250, 250, 1);
}

h2{
    padding: var(--PADDING-SIDE);
    color: var(--WHITEFONT);
    background-color: var(--ORANGEBGCOLOR);
    margin-top: 45px;
    margin-bottom:5px ;
    text-align: center;
}
/* SECTION 1 */

.main__section1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 19px;
    column-gap: 12px;

}

/* SECTION 2 */

.main__section2{
    display: flex;
    gap: 7px;
    margin-top: 18px;
    margin-bottom: 35px;
}

h1{
    text-align: center;
    color: #aaaaaa;
    font-family: var(--FF);
    margin-bottom: 10px;
    
}
/* SECTION 3 */

.main__section3{
    display: flex;
    gap: 8px;
    padding: var(--PADDING-SIDE);
    border-top:1px solid #80808026;
    background-color: rgba(250, 250,250,1);
}
.section3__div{
    border:1px solid #8080803d;
}
.chicco__seggiolino{
    position: relative;
}

.section3__icon{
    width: 46px;
    height: 45px;
    background-color: #1a6187;
    border: none;
    color: white;
}

.section3__div:hover .seat__figure{
    background-color: #aaaaaa;
}
.ribbon__promo{
    width: 50px;
    height: 50px;
    top: 186px;
    left: 185px;
    position: absolute
    
}
.section3__detail{
    border-top:1px solid #8080803d ;
    font-family: var(--FF);
    text-align: center;
    padding: 8px 0px 6px 0px;
}
.section3__p1{
    color: #5089a4;
    font-size: 13px;
    margin: 2px 0px 4px 0px;

}
.section3__p2, .section3__p3, .section3__p4{
    font-size: 13px;
    margin-top: 2px;
}
.section3__p5{
    margin:7px 0px 0px 0px;
    font-weight: 700;
    font-size: 19px;
}

.section3__div:hover .overlay{
    opacity: 1;
    cursor: pointer;
}


.overlay{
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.2s ease-out;
    z-index: 50000;  

}

.overlay-buttons{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 15px;
    background-color: rgba(0, 0,0,0.1);
    height: 68%;
    
}
.ratings{
    display: flex;
    height: 22%;
    background-color: white;
    position: relative;
    justify-content: center;
    align-items: center;

}
.fa.fa-star{
    width: 25px;
    border: none;
    color: #808080b0;
    align-items: center;
 }

/* SECTION 4 */

.main__section4{
    display: flex;
    margin-top:60px;
    background-color:rgba(250, 250, 250, 1);
    gap:10px  
}
.section4__container1{
    display: flex;
    width: 50%;
    height: 391px;
    border: 1px solid #8080803d ;
}
.section4__img{
    width:390px;  
    height:390px;
}
 .section4__menu{
    border-left:1px solid #8080803d;
   font-size: 15px;
    width: 50%;
    text-align: center;
    line-height: 4;
}
.section4__ul{
    list-style-type: none;

}
.section4__li{
    border-top:1px solid #8080803d ;
}

.section4__li:hover{
    color: white;
    background-color: #1a6187;
}

.section4__container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    
    
}
.section4-leftside{
    display: flex;
    border: 1px solid #8080803d ;
    
    
}
.section4__p1{
    color: #5089a4;
    font-size: 14px;
    font-family: var(--FF);
    margin-top: 5px;
}
.section4__p2{
    font-size: 15px;
    font-family: var(--FF);
}
.section4__p3{
    font-family: var(--FF);
    font-weight: 600;
    margin-top: 6px;
}
.fa-search-plus,.fa-shopping-bag,.fa-heart {
   padding: 6px;
   font-size: 18px;
   
}
.icon{
    border: none;
    margin-top: 4px;
}
/* FOOTER */

.footer{
    display: flex;
    margin-top: 10%;
    margin-bottom: 20%;
    border-bottom: 1px solid #8080803d;
    
    

}
.footer__section{
    width: 18%;
    padding: 25px;
    

}
.footer__h4{
    line-height: 59px;
    border-top: 1px solid #8080803d;
    
}
.footer__ul{
    list-style-type: none;
    line-height: 27px;
    font-size: 15px;
}
.footer__section3{
    width: 28%;
    
}
.footer__ul5{
    list-style-type: none;
    line-height: 33px;
   

}
.bg-img{
    
    height: 465px;
    background-color: rgba(23, 98, 135,1);
}
.form__h4{
    color: white;
    text-align: center;
    padding-top: 16%;
    margin-bottom: 26px;
}
.footer__container{
    margin:0 auto ;
    width: 70%;
}
.section3__input{
    width: 100%;
    height: 45px;
    margin-bottom:11px;
    text-align: center;
    
}
.section3__button{
    width: 100%;
    height: 45px;
    align-items: center;
    color:white;
    border: 1px solid #4f88a4;
    background-color: #176287;
    font-weight:bold ;
    margin-bottom: 31px;
}
.fa-envelope-open{
    border: none;
    margin-right: 3px;
}

.section__icon{
    text-align: center;
    margin-bottom: 38px;
}
.fab.fa-facebook , .fab.fa-instagram{
    font-size: 22px;
    background-color: white;
    border-radius: 30px;
    border: 15px solid white;
}
.fab.fa-facebook {
    margin-right: 8px;
}
.footer__bottom{
    border: 1px solid white;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(25,54,84,1);
    
}
.footer__bottom__figure{
    display: flex;
    
    width: 80%;
    margin: 0 auto;
    padding-top: 11px;
}
.footer__bottom__logo{
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 45px;
}
.footer__bottom__rate{
    width: 100%;
    height: 35px;
}
.span__i{
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin-left: 15px;
    
}
.span__ii{
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.span__iii{
    font-size: 11px;
    color: white;
    margin-left: 13px;
    
}
/* || SMALL */
@media screen and(min-width:390px) {
    .header__secondrow{
        width: 100%;
    }
    .fa.fa-pencil, .fa.fa-external-link{
        display: none;
    }
    .header__search{
        width: 51%;
        height: 42px;
       margin:10px 0px 0px 0px;
       padding-left: 12px;}
    
}
/* || MEDIA QUERIES */
@media only screen and (max-width: 900px) {
    .header__firstrow{
        display: none;
    }
    .header__ul2, li:first-child{
        display: none;

    }

    .header__secondrow {
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

.paniate-logo{
    width: 113px;
    height: 40px;
}

.header__search {
    order: 3;
    width: 100%;
    height: 52px;
    border: 8px solid   rgba(23, 98, 135,1) ;
}
.header__secondrow__figure1{
    display: flex;
}
    

.hamburger__menu{
    width: 42px;
    height: 49px;

}

.right-section{
    order: 2;

}

.nav__ul{
    display: none;
}
/* .nav__ul, li:first-child{
    display: flex;
} */
.main__section1{
    grid-template-columns: 1fr;
}
.main__section2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.main__section3{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.section4__container1{
    width: 100%;
    flex-wrap: wrap;
    height: 100px;
}

.main__section4{
    flex-wrap: wrap;
}
.section4__img{
    width: 121px;
    height: 96px;
}

.section4__ul{
    display: none;
}
.section4__container2{
    width: 100%;
    grid-template-columns: 1fr ;
}
.footer{
    flex-wrap: wrap;
}
.footer__section{
    order: 2;
    width: 100%;
    text-align: center;
}
.footer__section3{
    width: 100%;
}
} 
/* FOR MEDIUM SCREEN */
@media only  screen and (min-width:901px) and (max-width:1200px) {
    .header__search {
        width: 28%;
    }
}